.go_back_button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.go_back_button_text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 968px) {
  .go_back_button {
    top: 3rem;
    left: 3rem;
    z-index: 1;
  }

  .go_back_button_text {
    font-size: 1rem;
  }
}
