.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.under__construction_title {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(106, 255, 0, 0.582);
}

.under__construction_warning {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(31, 255, 1, 0.521);
}

.not-found__video-container {
  position: absolute;
  width: 101%;
  left: 50%;
  top: 50%;
  height: 101%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -10;
}
